USE [century_inventions]
GO
/****** Object:  Database [century_inventions]    Script Date: 6/05/2022 11:56:51 AM ******/
CREATE DATABASE [century_inventions]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'century_inventions', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\century_inventions.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'century_inventions_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\century_inventions_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [century_inventions].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [century_inventions]
GO
/****** Object:  Table [dbo].[invention]    Script Date: 6/05/2022 11:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invention](
	[invention_id] [bigint] IDENTITY(107,1) NOT NULL,
	[invention_description] [nvarchar](255) NOT NULL,
	[year] [smallint] NOT NULL,
	[discipline_id] [bigint] NOT NULL,
 CONSTRAINT [PK_invention_invention_id] PRIMARY KEY CLUSTERED 
(
	[invention_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[inventions_1030s]    Script Date: 6/05/2022 11:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
*   SSMA informational messages:
*   M2SS0003: The following SQL clause was ignored during conversion:
*   ALGORITHM =  UNDEFINED.
*   M2SS0003: The following SQL clause was ignored during conversion:
*   DEFINER = `root`@`localhost`.
*   M2SS0003: The following SQL clause was ignored during conversion:
*   SQL SECURITY DEFINER.
*/

CREATE VIEW [dbo].[inventions_1030s] (
   [invention_id], 
   [invention_description], 
   [year], 
   [discipline_id])
AS 
   SELECT invention.invention_id AS invention_id, invention.invention_description AS invention_description, invention.year AS year, invention.discipline_id AS discipline_id
   FROM invention
   WHERE invention.year BETWEEN 1930 AND 1939
GO
/****** Object:  View [dbo].[inventions_1930s]    Script Date: 6/05/2022 11:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
*   SSMA informational messages:
*   M2SS0003: The following SQL clause was ignored during conversion:
*   ALGORITHM =  UNDEFINED.
*   M2SS0003: The following SQL clause was ignored during conversion:
*   DEFINER = `root`@`localhost`.
*   M2SS0003: The following SQL clause was ignored during conversion:
*   SQL SECURITY DEFINER.
*/

CREATE VIEW [dbo].[inventions_1930s] (
   [invention_id], 
   [invention_description], 
   [year], 
   [discipline_id])
AS 
   SELECT invention.invention_id AS invention_id, invention.invention_description AS invention_description, invention.year AS year, invention.discipline_id AS discipline_id
   FROM invention
   WHERE invention.year BETWEEN 1930 AND 1939
GO
/****** Object:  Table [dbo].[application]    Script Date: 6/05/2022 11:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[application](
	[application_id] [bigint] IDENTITY(30,1) NOT NULL,
	[application_name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_application_application_id] PRIMARY KEY CLUSTERED 
(
	[application_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[application_list]    Script Date: 6/05/2022 11:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[application_list](
	[application_list_id] [bigint] IDENTITY(36,1) NOT NULL,
	[application_id] [bigint] NOT NULL,
	[invention_id] [bigint] NOT NULL,
 CONSTRAINT [PK_application_list_application_list_id] PRIMARY KEY CLUSTERED 
(
	[application_list_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[attribution_type]    Script Date: 6/05/2022 11:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[attribution_type](
	[attribution_type_id] [bigint] IDENTITY(27,1) NOT NULL,
	[attribution_type] [nvarchar](20) NULL,
	[attribution_claim] [nvarchar](255) NOT NULL,
	[invention_id] [bigint] NOT NULL,
 CONSTRAINT [PK_attribution_type_attribution_type_id] PRIMARY KEY CLUSTERED 
(
	[attribution_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[changelog]    Script Date: 6/05/2022 11:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[changelog](
	[changelog_id] [bigint] IDENTITY(104,1) NOT NULL,
	[date_created] [date] NOT NULL,
	[date_modified] [date] NOT NULL,
	[invention_id] [bigint] NOT NULL,
 CONSTRAINT [PK_changelog_changelog_id] PRIMARY KEY CLUSTERED 
(
	[changelog_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[discipline]    Script Date: 6/05/2022 11:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[discipline](
	[discipline_id] [bigint] IDENTITY(18,1) NOT NULL,
	[discipline_name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_discipline_discipline_id] PRIMARY KEY CLUSTERED 
(
	[discipline_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[discipline_list]    Script Date: 6/05/2022 11:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[discipline_list](
	[discipline_list_id] [bigint] IDENTITY(41,1) NOT NULL,
	[discipline_id] [bigint] NOT NULL,
	[inventor_id] [bigint] NOT NULL,
 CONSTRAINT [PK_discipline_list_discipline_list_id] PRIMARY KEY CLUSTERED 
(
	[discipline_list_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invention_list]    Script Date: 6/05/2022 11:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invention_list](
	[invention_list_id] [bigint] IDENTITY(32,1) NOT NULL,
	[inventor_id] [bigint] NOT NULL,
	[invention_id] [bigint] NOT NULL,
 CONSTRAINT [PK_invention_list_invention_list_id] PRIMARY KEY CLUSTERED 
(
	[invention_list_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inventor]    Script Date: 6/05/2022 11:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventor](
	[inventor_id] [bigint] IDENTITY(32,1) NOT NULL,
	[inventor_name] [nvarchar](80) NOT NULL,
	[nationality] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_inventor_inventor_id] PRIMARY KEY CLUSTERED 
(
	[inventor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[application] ON 

INSERT [dbo].[application] ([application_id], [application_name]) VALUES (1, N'Air conditioners')
INSERT [dbo].[application] ([application_id], [application_name]) VALUES (2, N'Air pollution')
INSERT [dbo].[application] ([application_id], [application_name]) VALUES (3, N'Airplanes')
SET IDENTITY_INSERT [dbo].[application] OFF
GO
SET IDENTITY_INSERT [dbo].[application_list] ON 

INSERT [dbo].[application_list] ([application_list_id], [application_id], [invention_id]) VALUES (1, 25, 1)
INSERT [dbo].[application_list] ([application_list_id], [application_id], [invention_id]) VALUES (2, 3, 2)
INSERT [dbo].[application_list] ([application_list_id], [application_id], [invention_id]) VALUES (3, 3, 2)
SET IDENTITY_INSERT [dbo].[application_list] OFF
GO
SET IDENTITY_INSERT [dbo].[attribution_type] ON 

INSERT [dbo].[attribution_type] ([attribution_type_id], [attribution_type], [attribution_claim], [invention_id]) VALUES (1, N'infividual', N'general', 1)
INSERT [dbo].[attribution_type] ([attribution_type_id], [attribution_type], [attribution_claim], [invention_id]) VALUES (2, N'group', N'general', 2)
INSERT [dbo].[attribution_type] ([attribution_type_id], [attribution_type], [attribution_claim], [invention_id]) VALUES (3, N'individual ', N'general', 3)
SET IDENTITY_INSERT [dbo].[attribution_type] OFF
GO
SET IDENTITY_INSERT [dbo].[changelog] ON 

INSERT [dbo].[changelog] ([changelog_id], [date_created], [date_modified], [invention_id]) VALUES (1, CAST(N'2019-01-16' AS Date), CAST(N'2021-08-03' AS Date), 1)
INSERT [dbo].[changelog] ([changelog_id], [date_created], [date_modified], [invention_id]) VALUES (2, CAST(N'2019-09-27' AS Date), CAST(N'2019-09-27' AS Date), 2)
INSERT [dbo].[changelog] ([changelog_id], [date_created], [date_modified], [invention_id]) VALUES (3, CAST(N'2019-10-02' AS Date), CAST(N'2019-10-02' AS Date), 3)
GO
SET IDENTITY_INSERT [dbo].[changelog] OFF
GO
SET IDENTITY_INSERT [dbo].[discipline] ON 

INSERT [dbo].[discipline] ([discipline_id], [discipline_name], [description]) VALUES (1, N'Astronomy', N'Astronomy studies the space outside the Earth''s atmosphere')
INSERT [dbo].[discipline] ([discipline_id], [discipline_name], [description]) VALUES (2, N'Biochemistry', N'Biochemistry is the branch of science concerned with the chemical and physico-chemical processes and substances that occur within living organisms')
INSERT [dbo].[discipline] ([discipline_id], [discipline_name], [description]) VALUES (3, N'Botany', N'Botany studies the physiology, structure, genetics, ecology, distribution, classification, and economic importance of plants.')
SET IDENTITY_INSERT [dbo].[discipline] OFF
GO
SET IDENTITY_INSERT [dbo].[discipline_list] ON 

INSERT [dbo].[discipline_list] ([discipline_list_id], [discipline_id], [inventor_id]) VALUES (1, 6, 1)
INSERT [dbo].[discipline_list] ([discipline_list_id], [discipline_id], [inventor_id]) VALUES (2, 15, 2)
INSERT [dbo].[discipline_list] ([discipline_list_id], [discipline_id], [inventor_id]) VALUES (3, 15, 3)
SET IDENTITY_INSERT [dbo].[discipline_list] OFF
GO
SET IDENTITY_INSERT [dbo].[invention] ON 

INSERT [dbo].[invention] ([invention_id], [invention_description], [year], [discipline_id]) VALUES (1, N'radio waves across Atlantic Ocean', 1901, 6)
INSERT [dbo].[invention] ([invention_id], [invention_description], [year], [discipline_id]) VALUES (2, N'engine-powered plane', 1903, 15)
INSERT [dbo].[invention] ([invention_id], [invention_description], [year], [discipline_id]) VALUES (3, N'photoelectric effect', 1905, 13)
GO
SET IDENTITY_INSERT [dbo].[invention] OFF
GO
SET IDENTITY_INSERT [dbo].[invention_list] ON 

INSERT [dbo].[invention_list] ([invention_list_id], [inventor_id], [invention_id]) VALUES (1, 1, 1)
INSERT [dbo].[invention_list] ([invention_list_id], [inventor_id], [invention_id]) VALUES (2, 2, 2)
INSERT [dbo].[invention_list] ([invention_list_id], [inventor_id], [invention_id]) VALUES (3, 3, 2)
SET IDENTITY_INSERT [dbo].[invention_list] OFF
GO
SET IDENTITY_INSERT [dbo].[inventor] ON 

INSERT [dbo].[inventor] ([inventor_id], [inventor_name], [nationality]) VALUES (1, N'Guglielmo Marconi ', N'Italian')
INSERT [dbo].[inventor] ([inventor_id], [inventor_name], [nationality]) VALUES (2, N'Wilbur Wright', N'American')
INSERT [dbo].[inventor] ([inventor_id], [inventor_name], [nationality]) VALUES (3, N'Orville Wright ', N'American')
SET IDENTITY_INSERT [dbo].[inventor] OFF
GO
ALTER TABLE [dbo].[attribution_type] ADD  DEFAULT (NULL) FOR [attribution_type]
GO
ALTER TABLE [dbo].[application_list]  WITH CHECK ADD  CONSTRAINT [application_list$fk_appliction_id] FOREIGN KEY([application_id])
REFERENCES [dbo].[application] ([application_id])
GO
ALTER TABLE [dbo].[application_list] CHECK CONSTRAINT [application_list$fk_appliction_id]
GO
ALTER TABLE [dbo].[application_list]  WITH CHECK ADD  CONSTRAINT [application_list$fk_invention_id] FOREIGN KEY([invention_id])
REFERENCES [dbo].[invention] ([invention_id])
GO
ALTER TABLE [dbo].[application_list] CHECK CONSTRAINT [application_list$fk_invention_id]
GO
ALTER TABLE [dbo].[attribution_type]  WITH CHECK ADD  CONSTRAINT [attribution_type$fk_invention_id2] FOREIGN KEY([invention_id])
REFERENCES [dbo].[invention] ([invention_id])
GO
ALTER TABLE [dbo].[attribution_type] CHECK CONSTRAINT [attribution_type$fk_invention_id2]
GO
ALTER TABLE [dbo].[changelog]  WITH CHECK ADD  CONSTRAINT [changelog$fk_invention_id3] FOREIGN KEY([invention_id])
REFERENCES [dbo].[invention] ([invention_id])
GO
ALTER TABLE [dbo].[changelog] CHECK CONSTRAINT [changelog$fk_invention_id3]
GO
ALTER TABLE [dbo].[discipline_list]  WITH CHECK ADD  CONSTRAINT [discipline_list$fk_discipline_id] FOREIGN KEY([discipline_id])
REFERENCES [dbo].[discipline] ([discipline_id])
GO
ALTER TABLE [dbo].[discipline_list] CHECK CONSTRAINT [discipline_list$fk_discipline_id]
GO
ALTER TABLE [dbo].[discipline_list]  WITH CHECK ADD  CONSTRAINT [discipline_list$fk_inventor_id] FOREIGN KEY([inventor_id])
REFERENCES [dbo].[inventor] ([inventor_id])
GO
ALTER TABLE [dbo].[discipline_list] CHECK CONSTRAINT [discipline_list$fk_inventor_id]
GO
ALTER TABLE [dbo].[invention]  WITH CHECK ADD  CONSTRAINT [invention$fk_discipline_id2] FOREIGN KEY([discipline_id])
REFERENCES [dbo].[discipline] ([discipline_id])
GO
ALTER TABLE [dbo].[invention] CHECK CONSTRAINT [invention$fk_discipline_id2]
GO
ALTER TABLE [dbo].[invention_list]  WITH CHECK ADD  CONSTRAINT [invention_list$fk_invention_id4] FOREIGN KEY([invention_id])
REFERENCES [dbo].[invention] ([invention_id])
GO
ALTER TABLE [dbo].[invention_list] CHECK CONSTRAINT [invention_list$fk_invention_id4]
GO
ALTER TABLE [dbo].[invention_list]  WITH CHECK ADD  CONSTRAINT [invention_list$fk_inventor_id2] FOREIGN KEY([inventor_id])
REFERENCES [dbo].[inventor] ([inventor_id])
GO
ALTER TABLE [dbo].[invention_list] CHECK CONSTRAINT [invention_list$fk_inventor_id2]
GO
/****** Object:  StoredProcedure [dbo].[all_inventors]    Script Date: 6/05/2022 11:56:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
*   SSMA informational messages:
*   M2SS0003: The following SQL clause was ignored during conversion:
*   DEFINER = `root`@`localhost`.
*   M2SS0003: The following SQL clause was ignored during conversion:
*   NO SQL.
*/

CREATE PROCEDURE [dbo].[all_inventors]
AS 
   BEGIN

      SET  XACT_ABORT  ON

      SET  NOCOUNT  ON

      SELECT inventor.inventor_id, inventor.inventor_name, inventor.nationality
      FROM inventor

   END
GO
/****** Object:  StoredProcedure [dbo].[invention_update]    Script Date: 6/05/2022 11:56:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
*   SSMA informational messages:
*   M2SS0003: The following SQL clause was ignored during conversion:
*   DEFINER = `root`@`localhost`.
*   M2SS0003: The following SQL clause was ignored during conversion:
*   NO SQL.
*/

CREATE PROCEDURE [dbo].[invention_update]
AS 
   BEGIN

      SET  XACT_ABORT  ON

      SET  NOCOUNT  ON

      /* 
      *   SSMA error messages:
      *   M2SS0016: Identifier iyear cannot be converted because it was not resolved.
      *   M2SS0016: Identifier invid cannot be converted because it was not resolved.

      UPDATE invention
         SET 
            year = iyear
      WHERE invention.invention_id = invid
      */



   END
GO
/****** Object:  StoredProcedure [dbo].[inventions_updates]    Script Date: 6/05/2022 11:56:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
*   SSMA informational messages:
*   M2SS0003: The following SQL clause was ignored during conversion:
*   DEFINER = `root`@`localhost`.
*   M2SS0003: The following SQL clause was ignored during conversion:
*   NO SQL.
*/

CREATE PROCEDURE [dbo].[inventions_updates]  
   @uyear int,
   @iid int
AS 
   BEGIN

      SET  XACT_ABORT  ON

      SET  NOCOUNT  ON

      UPDATE invention
         SET 
            year = @uyear
      WHERE invention.invention_id = @iid

   END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'all_inventors' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'all_inventors'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'invention_update' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'invention_update'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'inventions_updates' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'inventions_updates'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'application' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'application'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'application_list' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'application_list'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'attribution_type' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'attribution_type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'changelog' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'changelog'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'discipline' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'discipline'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'discipline_list' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'discipline_list'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'invention' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'invention'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'invention_list' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'invention_list'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'inventor' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'inventor'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'inventions_1030s' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'inventions_1030s'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'inventions_1930s' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'inventions_1930s'
GO
USE [master]
GO
